html{
    font-size: 14px;
}

nav{
    position: relative;
    height: 20vh;
}
nav button{
    position: absolute;
    left: 2%;
    top: 50%;
}
section{
    display: flex;
}
.picture{
    width:50%;
    min-width: 400px;
}
img{
    display: block;
    width: 90%;
    margin: auto;
}
.info{
    display: grid;
     /* grid-template-areas:
    "principal" "segundaria",
    "borders" "borders" ; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 100px;
    width: 50%; 
    
}
.info-principal{
    /* grid-area: principal; */
}
.info-segundaria{
    /* grid-area: segundaria; */
}
.border-countries {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* grid-area: borders; */
}
.border-countries .borders{
   box-shadow: 0px 0px 5px 0px lightgray;
   
}

