@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,800;1,6..12,300&display=swap');

:root{
    --DarkBlue:hsl(209, 23%, 22%);
    --VeryDarkBlue:hsl(207, 26%, 17%);
    --VeryDarkBlue2:hsl(200, 15%, 8%); 
    --DarkGray: hsl(0, 0%, 52%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White:hsl(0, 0%, 100%);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.error{
    background-color: red;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--VeryLightGray);
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.5s all;
}

header{
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 10px 0px;
    background-color: var(--White);
    box-shadow: 1px 1px 1px lightgray;
}
header > button{
    height: 50%;
    font-size: 0.8em;
    font-weight: 400;
    margin: auto 50px auto 10px;
    border: none;
    padding: 5px 2px;
    border-radius: 3px;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    transition:  1s all;
}
header > button:hover{
    border: 1px solid var(--VeryLightGray);
    
    
}
header h1{
    margin: auto 30px auto 50px;
    font-size: 1.3em;
    font-weight: 800;
}



/* Thema Dark */
.bodyDark{
    background-color: var(--VeryDarkBlue);
    color: white;
}
.headerDark{
    background-color: var(--DarkBlue);
    box-shadow: 1px 1px 1px black;
}